<div class="config-card">
  <h3>Configuration: Analysis Parameters</h3>
  <mat-radio-group aria-label="Select analysis parameters" class="radio-group" [formControl]="control()">
    <div class="radio-option">
      <mat-radio-button value="standard">Standard Analysis</mat-radio-button>
      <mat-icon matTooltip="Select this for a deeper analysis with more parameters">help_outline</mat-icon>
    </div>
    <div class="radio-option">
      <mat-radio-button value="light">Light Analysis</mat-radio-button>
      <mat-icon matTooltip="Select this for a quick analysis with fewer parameters. Note: for short videos Standard and light analysis are the same">help_outline</mat-icon>
    </div>
        <div class="radio-option">
      <mat-radio-button value="custom">Custom Analysis</mat-radio-button>
      <mat-icon matTooltip="Select specific features for a tailored analysis">help_outline</mat-icon>
      @if (control().value === 'custom') {
        <button mat-button color="primary" (click)="openDialog()">Select Features ({{ customFeaturesControl().value?.long?.length || 0 }} Long, {{ customFeaturesControl().value?.short?.length || 0 }} Shorts)</button>
      }
    </div>
  </mat-radio-group>
</div>
